In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.columns

Index(['id', 'age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [2]:
X = train.drop(['income','id', 'fnlwgt'],axis=1)
y = train.income
X.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country'],
      dtype='object')

In [3]:
X.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,37,Local-gov,Some-college,10,Married-civ-spouse,Other-service,Husband,Amer-Indian-Eskimo,Male,0,0,32,United-States
1,30,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,85,United-States
2,33,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,58,United-States
3,41,Self-emp-inc,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,?
4,59,Private,Assoc-acdm,12,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,32,United-States

In [4]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.compose import make_column_transformer
ohe = OneHotEncoder(sparse_output=False,handle_unknown='ignore')
column_trans = make_column_transformer((ohe,['workclass','education','marital-status','occupation','relationship','race','sex','native-country']) ,remainder='passthrough')

In [5]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='liblinear')
pipe = make_pipeline( column_trans,logreg)

In [6]:
from sklearn.model_selection import cross_val_score
cross_val_score(pipe,X,y,cv=5,scoring='accuracy').mean()

0.8510047163073555

In [7]:
pipe.fit(X,y)
predictions = pipe.predict(test)
output = pd.DataFrame({'id': test.id, 'income': predictions})
output.to_csv('sample_submission.csv', index=False)